@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

//breakpoints
@mixin phone-xxsmall {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin phone-xsmall {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin tablet-small {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin tablet-medium {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin tablet-large {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin desktop-xlarge {
  @media (min-width: 1200px) {
    @content;
  }
}